:root {
    --color1: #215b3eb6;
    --color2: rgba(20, 20, 162, 0.926);
    --color3: rgba(171, 5, 5, 0.85);

}
* {
    margin: 0;
    padding: 0;
}
section {
    padding: 5px;
}

/* HEADER START */
header {
    padding: 10px 30px;
    background-image: url("../images/hero.jpg");
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 70%;
    z-index: 9;

}
header h1 {
    font-size: 40px;
    padding: 4px 10px;
    color: var(--color3);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    

}

header nav {
    display: flex;
    padding: 2px 5px;
    color: var(--color3);
    justify-content: space-between;
    align-items: center;
}    
    


header nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}


header nav ul li a {
    color: var(--color1);
    font-size: 1.5vw;
    
}

/* HEADER END */

body {
    background: var(--color1);
    font-family: Arial, Helvetica, sans-serif;
}

/* HERO START */

.hero {
    color: var(--color3);
    background-image: url("../images/hero.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-txt {
    width: 100%;
    font-size: 25px;
    padding: 90px;
    margin: 10px;
    
   
}

.hero-txt h2 {
    text-decoration:wavy;
    text-align: end;


}
/* HERO END */


/* ABOUT ME SECTION BEGIN */
.about-me {
    display: flex;
    padding: 2px;
}
.section-title-about-me {
    color: var(--color2);
    display:block;
    flex-wrap: wrap;
    justify-content: left;
    align-items:flex-start;
    margin: 2px;
    padding: 40px;
    font-size: 30px;
    
    
}

.about-me-text{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
   
}

/* PROJECT SECTION BEGIN */
.section-title-projects {
    color: var(--color2);
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items:flex-start;
    margin: 2px;
    padding: 40px;
    font-size: 30px;
}    

.projects {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.projects a {
    text-decoration: none;
    color: var(--color3)
}

.projects img {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    margin: auto;
}
 
.work1 {
    display: flex;
    align-items: center;
    margin: 0 auto;
}


.work2, .work3, .work4, .work5 {
    display: flex;
    display: inline;
    flex-wrap: wrap;
    align-items: inline;
    width: 50%;
    justify-content: space-between;
}


/* CONTACT ME SECTION BEGIN */
.section-title-contact-me {
    color: var(--color2);
    display:block;
    flex-wrap: wrap;
    justify-content: left;
    align-items:flex-start;
    margin: 2px;
    padding: 40px;
    font-size: 30px;

.contat-me {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border: 2px solid var(--color3);
    font-size: 20px;

}
.contacts {
    display: inline-flex;
    display: flex;
     justify-content: space-around;
     margin: 0 0 20px 0;
     text-decoration: none;
     color: var(--color3)
}
.contacts a {
    color: var(--color3);
}

/* FOOTER */
footer {
    font-size: 16px;
}