        :root {
    --color1: #6c362be9;
    --color2: rgba(30, 6, 78, 0.95);
    --color3: rgba(228, 75, 55, 0.95);
    --color4: rgba(11, 49, 54, 0.75);
    --color5: rgba(18, 22, 55, 0.9);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER START */

header {
    background-image: url("../images/hero.jpg");
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 70%;
    z-index: 9;
}

header h1 {
    font-size: 3vw;
    padding: 2% 10%;
    color: var(--color3);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.9); 
}

.navigation {
    display: flex;
    padding: 0 5%;
    justify-content: flex-end;
    align-items: flex-end;
}

header nav ul li {
    display: flex;
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}

header nav ul li a {
    color: var(--color3);
    font-size: 1.8vw;
}

header nav ul li a:hover {
    opacity: 0.7;
}
/* HEADER END */

body {
    background: var(--color1);
}
/* HERO SECTION */

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    display: flex;
}

.hero img {
    display: flex;
    border-radius: 50%;
    width: 20%;
    padding: 1%;
    align-items: center;
    opacity: 90%;
}

.hero-text {
    font-size: 2vw;
    padding: 50px;
    margin: 60px;
    text-align: end;
    color: rgba(175, 115, 175, 0.8);
   justify-content: flex-end;
    align-items: flex-end;
}

/* ABOUT ME SECTION  */

.about-me {
    display: flex;
}

.section-title-about-me {
    color: var(--color2);
    margin: 2px;
    padding: 40px;
    font-size: 3vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    color: var(--color3);
    font-size: 1.5vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.about-me-text {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    padding: 20px;
    color: var(--color5);
    border-left: 2px solid var(--color5);
    font-size: 1.1vw;
}
/* PROJECT SECTION */

.section-title-projects {
    color: var(--color2);
    margin: 2px;
    padding: 40px;
    font-size: 3vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.projects {
    width: 100%;
    margin: auto;
    padding: 150px 0;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid var(--color4);
    border-bottom: 2px solid var(--color4);
}

.projects a {
    display: flex;
    width: 100%;
}

.projects a:hover {
    opacity: 0.7;
}

.projects img {
    width: 80%;
    align-items: center;
    margin: 30px auto 60px auto;
    padding: 0;
    border-radius: 3%;
}

h4 {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    color: var(--color3);
    font-size: 1.5vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.work1 {
    width: 100%;
    align-items: center;
    margin: 50px auto;
}

.work2,
.work3,
.work4,
.work5 {
    width: 50%;
}
/* CONTACT ME SECTION BEGIN */

.section-title-contact-me {
    color: var(--color2);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    margin: auto;
    padding: 40px;
    font-size: 3vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h5 {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.contacts {
    display: flex;
    margin: 20px 10px 20px 0px;
    text-decoration: none;
    color: var(--color3);
    font-size: 1.5vw;
}

.contacts a {
    color: var(--color3);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.contacts a:hover {
    color: var(--color2);
}

.phone,
.email,
.github {
    margin: auto;
    padding: 15px;
    border-left: 2px solid var(--color5);
    border-right: 2px solid var(--color5);
}
/* FOOTER */

footer {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1vw;
    color: var(--color5);
    margin: 50px 0 10px 20px;
    padding: 5px;
}
/* Media queries */

@media all and (max-width: 500px) {
    header h1 {
        margin: 2px;
    }

    .navigation {
        width: 100%;
    }

    .hero {
        width: 100%;
        margin: auto;
    }
    
    .hero-text {
        width: 100%;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }

    .hero img {
        width: 20%;
        padding: 0;
        margin: 0;
    }

    .about-me-text {
        font-size: 2vw;
        margin: 10px;
    }

    .projects a {
        width: 100%;
        padding: 0;
    }

    .work1 {
        padding: 0;
        margin: 0;
    }

    .work2,
    .work3,
    .work4,
    .work5 {
        padding: 5px;
        margin: 0;
        width: 100%;
    }

    .contacts {
        flex: 0 100%;
    }
}    

@media screen and (max-width: 850px) {
    header {
        background-attachment:initial;
    }
    header h1 {
        padding: 30px;
    }

    .projects {
        padding: 0;
        margin: 0;
    }

    .work2,
    .work3,
    .work4,
    .work5 {
        padding: 5px;
        margin: 5px;
    }

    footer {
        padding: 30px;
    }
}